.BookmarksPanel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.BookmarksPanel-empty {
    padding: 20px;
    text-align: center;
    font-style: italic;
    color: #555;
}
