.BookmarksItems {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 48px;
    left: 0;
    overflow-y: auto;
}

.BookmarksItems-search {
    position: sticky;
    top: 0;
    padding-top: 4px;
    padding-right: 4px;
    padding-left: 4px;
    background-color: #ededed;
}

.BookmarksItems-searchInput {
    vertical-align: top;
    width: 100%;
    border-bottom: 1px solid #c5c5c5;
    cursor: text;
    padding: 1px 3px;
    -moz-user-select: text;
}
.BookmarksItems-searchInput:focus {
    border-color: #4a90d9;
}

.BookmarksItems-content {
    padding: 4px;
}

.BookmarksItems-empty {
    padding: 20px;
    text-align: center;
    font-style: italic;
    color: #555;
}
