.BookmarksItem {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 1px 3px;
}
.BookmarksItem.selected {
    border-color: #c5c5c5;
    background: #ddddde;
}
.BookmarksItem:active {
    background-color: #d3d3d3;
    border-color: #b8b8b8;
}
.BookmarksItem.hidden {
    display: none;
}

.BookmarksItem-mark {
    background-color: #94e0ad;
}
