.BottomButton {
    position: absolute;
    bottom: 0;
    height: 48px;
    text-align: center;
    line-height: 48px;
    border-style: solid;
    border-color: #c5c5c5;
    border-top-width: 1px;
    background-color: #ddd;
}
.BottomButton:hover {
    border-color: #b3b3b3;
    background-color: #cdcdcd;
    z-index: 1;
}
.BottomButton:active {
    border-color: #ababab;
    background-color: #c4c4c4;
    z-index: 1;
}
