.ErrorPanel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.ErrorPanel-info {
    position: absolute;
    right: 60px;
    left: 60px;
    top: 100px;
}

.ErrorPanel-button {
    position: absolute;
    right: 0;
    bottom: 50px;
    left: 0;
    width: 200px;
    height: 48px;
    line-height: 46px;
    margin: auto;
    font-weight: bold;
    font-size: 16px;
    border-radius: 2px;
    border: 1px solid transparent;
    background-color: #f80;
    border-color: #c5c5c5;
    background: #ddddde;
}
.ErrorPanel-button:active {
    background-color: #d3d3d3;
    border-color: #b8b8b8;
}
