.Icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 24px;
    height: 24px;
    margin: auto;
    background-image: url(../images/icons.svg);
    background-size: cover;
}

.Icon.refresh {
    background-position: 0 0;
}
.Icon.bookmark {
    background-position: -24px 0;
}
.Icon.turnOff {
    background-position: -48px 0;
}
.Icon.externalLink {
    background-position: -72px 0;
}
