* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: #ededed;
    font-family: sans-serif;
    overflow: hidden;
    background: transparent;
    color: inherit;
    cursor: default;
    -moz-user-select: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    line-height: 18px;
    background-color: #ededed;
}

*::-moz-focus-inner {
    padding: 0;
    border: 0;
}
