.ProgressPanel {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: #fff;
    background-position: 50% 0;
    z-index: 1;
    display: none;
}
.ProgressPanel.visible {
    display: block;
}
