.SignInPanel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.SignInPanel-info {
    position: absolute;
    right: 60px;
    left: 60px;
    top: 100px;
}

.SignInPanel-button,
.SignInPanel-settings {
    position: absolute;
    bottom: 50px;
    height: 50px;
    line-height: 48px;
    border: 1px solid transparent;
    background-color: #f80;
    border-color: #c5c5c5;
    background: #ddddde;
}
.SignInPanel-button {
    right: 99px;
    left: 50px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 2px 0 0 2px;
}
.SignInPanel-settings {
    right: 50px;
    width: 50px;
    border-radius: 0 2px 2px 0;
    background-image: url(../images/settings.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.SignInPanel-button:active,
.SignInPanel-settings:active {
    background-color: #d3d3d3;
    border-color: #b8b8b8;
    z-index: 1;
}
